
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.highlight {
  padding: 9px 14px;
  margin: 20px 0 14px 0;
  background-color: gainsboro;
}
